$color-blossom: #2c8898;
$color-fade: #982c61;

$color-bg: #f9f9f9;
$color-bg-alt: #f1f1f1;
$color-bg-code-blocks: #f6f6f6;

$color-text: #111;
$font-size-base: 1.8rem;

$font-family-base: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font-family-heading: $font-family-base;

// Non sakura variables

$color-error: #ff6a6a;
$color-error-dim: #ff6a6a8c;

$color-success: #7EC796;
$color-success-dim: #7EC7968c;

$color-bg-dim: #a9a9a9;
